final-clip.txt
[{"id":"97044f76.b35858","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"275db051.06dc6","type":"function","z":"97044f76.b35858","name":"msgs creation","func":"var mex = msg.payload.split(\"-\");\n//in this way we understand if it is a debug message becasue they start with \"dbg - or if is a data message\nif(mex.length==1){\n//extracting info from the data message\nmex = msg.payload.split(\",\");\nvar sender = mex[1].split(\":\")[1];\nvar value = mex[4].split(\":\")[1];\nmsg.topic = \"channels/2201256/publish\"\n//creating the MQTT message\nswitch (sender){\n    case \"1\":\n        msg.payload = \"field1=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"2\":\n        msg.payload = \"field2=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"3\":\n        msg.payload = \"field3=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"4\":\n        msg.payload = \"field4=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"5\":\n        msg.payload = \"field5=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    default:\n        break;\n}\n\nreturn msg;\n}","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["d350e701.4e18b","d2b1b0ce.aa73e8"]]},{"id":"d87d8a4.072cb78","type":"mqtt out","z":"97044f76.b35858","name":"","topic":"","qos":"","retain":"","broker":"d3fa694e.2660b","x":970,"y":200,"wires":[]},{"id":"d350e701.4e18b","type":"delay","z":"97044f76.b35858","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":200,"wires":[["d87d8a4.072cb78"]]},{"id":"1a74e61a.b87cc2","type":"tcp in","z":"97044f76.b35858","name":"","server":"client","host":"localhost","port":"60008","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":200,"y":200,"wires":[["275db051.06dc6","230f45f.c40c53a"]]},{"id":"230f45f.c40c53a","type":"debug","z":"97044f76.b35858","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":80,"wires":[]},{"id":"d2b1b0ce.aa73e8","type":"debug","z":"97044f76.b35858","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":120,"wires":[]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"OzYlABAbCjg3EzAsGQwRPSE","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]