node-red-clipboard.txt
[{"id":"f2f28c3b.782398","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"16f4603a.34de18","type":"function","z":"f2f28c3b.782398","name":"msgs from node1","func":"//if node=1 then ok\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["980f45a5.439308"]]},{"id":"7413a040.196168","type":"function","z":"f2f28c3b.782398","name":"msgs from node2","func":"//if node=1 then ok\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":200,"wires":[["980f45a5.439308"]]},{"id":"e8a68875.d1d38","type":"function","z":"f2f28c3b.782398","name":"msgs from node3","func":"//if node=1 then ok\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":260,"wires":[["980f45a5.439308"]]},{"id":"11903e85.631249","type":"mqtt in","z":"f2f28c3b.782398","name":"","topic":"","qos":"2","x":190,"y":380,"wires":[["6f5bb763.166d"]]},{"id":"d7c0633a.3f822","type":"mqtt out","z":"f2f28c3b.782398","name":"","topic":"","qos":"","retain":"","x":570,"y":380,"wires":[]},{"id":"4e431a9b.7c7814","type":"mqtt out","z":"f2f28c3b.782398","name":"","topic":"","qos":"","retain":"","x":890,"y":200,"wires":[]},{"id":"f3f146b0.578c2","type":"function","z":"f2f28c3b.782398","name":"non so se conviene smistarli già qui o farlo in thingspeak","func":"//if node=1 then ok\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":340,"wires":[[]]},{"id":"980f45a5.439308","type":"delay","z":"f2f28c3b.782398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":740,"y":200,"wires":[["4e431a9b.7c7814"]]},{"id":"6f5bb763.166d","type":"delay","z":"f2f28c3b.782398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":380,"wires":[["d7c0633a.3f822"]]},{"id":"d1b29ec7.47a9b8","type":"tcp in","z":"f2f28c3b.782398","name":"","server":"client","host":"localhost","port":"60008","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":200,"y":200,"wires":[["16f4603a.34de18","7413a040.196168","e8a68875.d1d38","497cc144.8734b8"]]},{"id":"497cc144.8734b8","type":"debug","z":"f2f28c3b.782398","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":80,"wires":[]}]
