node_red-lastversion.txt
[{"id":"352dd05b.d5537","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ac781aa4.d75858","type":"function","z":"352dd05b.d5537","name":"msgs creation","func":"//if node=1 then ok\n\nvar mex = msg.payload.split(\",\");\nvar sender = mex[1].split(\":\")[1];\nvar value = mex[4].split(\":\")[1];\nmsg.topic = \"channels/2201256/publish\"\n\nswitch (sender){\n    case \"1\":\n        msg.payload = \"field1=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"2\":\n        msg.payload = \"field2=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"3\":\n        msg.payload = \"field3=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"4\":\n        msg.payload = \"field4=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    case \"5\":\n        msg.payload = \"field5=\"+value+\" &status=MQTTPUBLISH\";\n        break;\n    default:\n        break;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":440,"y":200,"wires":[["61ec5d38.0cdc04","a8693889.512e4"]]},{"id":"c73f6acb.e91828","type":"mqtt out","z":"352dd05b.d5537","name":"","topic":"","qos":"","retain":"","broker":"d3fa694e.2660b","x":970,"y":200,"wires":[]},{"id":"61ec5d38.0cdc04","type":"delay","z":"352dd05b.d5537","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":200,"wires":[["c73f6acb.e91828"]]},{"id":"15b0c619.aa2bd2","type":"tcp in","z":"352dd05b.d5537","name":"","server":"client","host":"localhost","port":"60008","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":200,"y":200,"wires":[["ac781aa4.d75858","6700201a.7aa0e8"]]},{"id":"6700201a.7aa0e8","type":"debug","z":"352dd05b.d5537","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":80,"wires":[]},{"id":"a8693889.512e4","type":"debug","z":"352dd05b.d5537","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":120,"wires":[]},{"id":"d3fa694e.2660b","type":"mqtt-broker","z":"","name":"Thingspeak","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"IBYTEyk6JSIePBsFARA0PQA","usetls":false,"compatmode":true,"keepalive":"60","cleansession":false,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
